/* ESTILOS GENERALES  */
/*PALETA DE COLORES
fc2021
fc6019
fc9b29
191919
*/

html,body{
overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: "Bree Serif", serif; */
  font-family: "bree", sans-serif;
  background-image: url("../assets/General/fondo.png"); 
  background-size: cover;
  color: #fff;
}

.container-inf{
width: min(1200px, calc(100% - 64px)); 
margin: 0 auto;
}