/*Carrusel*/
.section-productos{
  padding: 200px 100px 50px 100px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

/* contenedor general del carrusel */


/* card */
.cards-cafe {
  width: 240px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 15px;
  position: relative;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 25px;
}

.container-img-card {
  z-index: 3;
}

.container-img-card img{
  width: 130px;
  position: absolute;
  bottom: 170px;
  left: 50px;
  filter: drop-shadow(0px 0px 5px #0000009b);
  z-index: 4;
}

.btn-action-modal{
  padding: 5px;
  background-color: #ebddc4;
  border: none;
  font-weight: 900;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width:110px;
  z-index: 5;
}

.btn-action-modal:hover{
  background-color: #f6cb2e;
  color: #fff;
}

.container-descripcion-card{
  text-align: center;
}


.container-descripcion-card p{
  font-size: 0.9rem;
  padding: 10px 4px;
  color: #ffffff;
  line-height: 1.45;
  font-weight: 100;

}
.btn-card{
  width: 90%;
  padding: 5px;
  background-color: #ebddc4;
  border: none;
  font-weight: 900;
  color: #532c00;
  border-radius: 10px;
  cursor: pointer;
}

.btn-card:hover{
  background-color: #f6cb2e;
  color: #fff;
}





