/* ESTILOS GENERALES  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Bree Serif", serif;
  background:#000000 ;
  color: #fff;
}

/*HEADER*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-principal{
display: flex;
flex-direction: row;
gap: 10px;
}

.logo-principal svg{
  width: 50px;
  height: 50px;
}

.logo-principal h1{
  margin: 0;
}

h1 .Titulo-color-type{
  color: #ba7907;
}

.navegacion ul{
display: flex;
flex-direction: row;
gap: 30px;
}

.navegacion ul{
  list-style: none;
}

.navegacion ul a{
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.navegacion ul a:hover{
  opacity: 1;
  color: antiquewhite;
}

/*MAIN*/
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*BANNER*/

.banner{
  width: 100%;
  height: 80vh;
  border: solid 5px #fff;
  background:  url('../assets/granosdecafe.png');
  background-size: cover;
  background-position: center;
}

.banner .textBanner{
  width: 30%;
}

.textBanner h2{
  font-weight: 300;
  margin: 0;
  font-size: 80px;
  margin-bottom: 10px;
  color: #db941a;
}

.textBanner h3{
  margin-bottom:20px ;
}

.textBanner p{
  font-size: 18px;
  line-height: 1.5;
}