/* ESTILOS GENERALES  */
html,body{
overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: "Bree Serif", serif; */
  font-family: "bree", sans-serif;
  background:#000000 ;
  color: #fff;
}

.containerInf{
width: min(1020px, calc(100% - 64px)); 
margin: 0 auto;
}

/*HEADER*/
header .containerInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*LOGO PRINCIPAL*/

.logoPrincipal{
display: flex;  /*Cambiar a color #db941a*/
flex-direction: row;
gap: 10px;
}

.logoPrincipal svg{
  width: 50px; /*Cambiar a color #db941a SVG*/
  height: 50px;
}

.logoPrincipal h1{
  margin: 0;
}

h1 span {
  color: #db941a;
}

/*NAVEGACION */

.navegacion ul{
display: flex;
flex-direction: row;
gap: 30px;
}

ul{
  list-style: none;
}

.navegacion ul a{
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.navegacion ul a:hover{
  opacity: 1;
  color: #db941a;
}

/*MAIN*/
/*BANNER*/

main .banner{
  width: 100%;
  height: 70vh;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.75) 30%,
      rgba(0, 0, 0, 0.35) 35%,
      rgba(0, 0, 0, 0) 50%
    ), url('../assets/hero_banner/granosdecafe.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

main .banner .containerInf{ /*Container info ya tiene tamaño definido en general*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.containerInf .tituloBanner{
  font-weight: 100px;
  font-size: 70px;
  margin-bottom: 10px; /* para separar de h3*/
  color: #db941a;
  text-shadow: 0 4px 15px rgba(219, 148, 26, 0.4);
}

.containerInf h3{
  margin-bottom:20px ;
  font-size: 25px;
}

.containerInf p{
  max-width: 500px;
  font-size: 16px;
  line-height: 1.5; /*para separar lineas entre parrafos*/
}

.containerInf .btn-banner{ /*!!!REVISAR EL BOTTOM !!! Mas adelante mejorar este botón con :HOVER*/
  margin-top: 20px;
  padding: 15px 30px;
  background:  #db941a;
  color: #fff;
  border: 2px solid #db941a;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; /*cambia el logo del cursor*/
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(219, 148, 26, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*SEPARADORES ESTILO ONDAS*/

.banner .waveDivider{ /*REVISAR Y AALIZAR WAVE DIVIDER ¿Como se realizo esto? */
  position: absolute;
  bottom:-27px;
  left: 0;
  width: 100%;
  line-height: 0;
}

.waveDivider svg{
  display: block;
  width: 100%;
  height: 130px;
  fill:#febb55; /* mismo color de la sección de abajo */
  
}

/*Carrusel*/
.sectionCarrusel{
   background-color: #febb55;
  background-image: radial-gradient(#f0d9b684 1.5px, transparent 1.5px);
  background-size: 18px 18px; 
  padding: 50px;
  padding-bottom: 120px;
  position: relative;
  z-index: 2;
}

.sectionCarrusel .containerInf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.sectionCarrusel .waveDividerReverse{
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  bottom: -100px;
  z-index: 3;
}

.sectionCarrusel .waveDividerReverse svg{
  display: block;
  width: 100%;
  height: 140px;
  
}

.cafeSwiper{
  width: 100%;
  overflow: visible;
  padding: 0 40px;
}

.cafeSwiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.55;
  transform: scale(0.9);
  transition: all 0.35s ease;
}

.cafeSwiper .swiper-slide-active{
  opacity:1;
  transform: scale(1);
}

.swiper-button-prev,
.swiper-button-next{
  color: #532c00;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 28px;
  font-weight: bold;
}

.titulo-section{
  margin-bottom: 40px;
  margin-top: 0;
  color: #532c00;
  font-size: 2em;
  text-transform: lowercase;
  padding: 10px;
  font-weight: 100;
}
/*ESTILOS CARD*/
.containerCard{
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  border: 1px solid #d9c4a8;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px #0000003d;
}

/*Tarjeta 1*/

.card1{
  width: 250px;
  height: 463px;
  border-radius: 25px;
  color: #532c00;
  background-color: #fdfbf8;
  position: relative;
  box-shadow: 0 0 5px 5px #0000001c;
}

.card1 .cardImg{
 width: 100%;
  height: 50%;
  background-color: #fdad35;
  background-repeat: no-repeat;
  background-image: url(../assets/cards/MOPCKUOP.png) ;
  background-position: center;
  background-position-y: 10px ;
  background-size: 150px;
  border-radius: 25px 25px 0 0;
}

.card1 h2{
  margin: 0;
  font-size: 1.2em;
  margin-top: 10px  ;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: 900;
}

.origen {
  font-size: 0.8em;
  padding: 0px 10px;
}

.card1 .card1Text{
  font-size: 1em;
  margin: 0;
  padding: 10px ;
}

.origen span{
  font-weight: bolder;
}

.card1Etiqueta{
  background-color:#532c00 ;
  color: #fdfbf8;
  width: 125px;
  position: absolute;
  border-radius: 25px 20px 20px 0px;
  padding: 0;
}

.card1Etiqueta p{
  font-size:15px; 
  padding: 4px 10px;
}

/*Tarjeta 2*/

.card2{
  width: 450px;
  border-radius: 25px;
  color: #532c00;
  background-color: #fdfbf8;
  box-shadow: 0 0 5px 5px #0000001c;
}

/* Perfil de Sabor*/
.card2 .card2-perfil-sabor {
  width: 100%;
  border-bottom:solid 1px #532c0050;
}

.card2 .card2-perfil-sabor h2{
 margin: 10px 20px;
}

/* Perfil de Sabor - range slider*/
.card2-perfil-sabor .contenedor-range-slider{
  display: flex;
  flex-direction:column ;
  gap: 15px;
  margin: 10px 20px;
}

.sabor-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sabor-item span{
  font-weight: bold;
}

.barra{
width: 100%;
background-color: #00000012;
border-radius: 10px 10px 0px 0px;
/* box-shadow:0px 0px 5px 3px #db941a65; */
}

.barra .barra-nivel-4 {
  width: 70%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color:#ffab19;
  background-image: url(../assets/cards/maze-black.png);
}

.barra .barra-nivel-5 {
  width: 80%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
   background-color:#ffb6379f;
  background-image: url(../assets/cards/maze-black.png);
}

.barra .barra-nivel-6 {
  width: 90%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
   background-color:#ffb637e6;
  background-image: url(../assets/cards/maze-black.png);
}

.card2-detalles-container{
  margin: 10px 30px;
  border: 1px solid #532c005d;
  border-radius: 10px ;
}

.card2-detalles-container h3{
  font-size: 1.1rem;
  margin: 0;
  background-color: #db941ae7;
  border-radius:10px 10px 0px 0px;
  padding: 0 19px;
}

.card2-detalles-container ul{
  padding: 10px 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card2-detalles-container ul li{
  display: flex;
  gap: 7px;
}

.card2-detalles-container ul li span{
  font-weight: bold;
}

.card2-detalles-container ul li img{
  width: 17px;
margin-top: 3px ;
}

.btn-comprar{
 margin: 0 40px;
 width: 83%;
 font-size: 1.3rem;
 padding: 10px;
 margin-bottom: 10px;
 border-radius: 10px;
border: 2px solid #db941a;
background:  #db941a;
  color: #fff;
  
}


/*Section Galeria*/
.section-galery-sn{
  background-color: #fff3e1;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.section-galery-sn .containerInf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/*GALERIA 1*/
h3.titulo-galery{
  color: #532c00;
  font-size: 2em;
  text-transform: lowercase;
  padding: 10px;
  font-weight: 100;
  margin: 30px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(2,300px);
  gap: 15px;
  padding: 10px;
}

.item-1{
  background: radial-gradient(#00000072 50%, transparent),
  url(../assets/galeria/prueba4.png);
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-2{
  background: url(../assets/galeria/prueba1.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-3{
  background: url(../assets/galeria/prueba2.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-4{
  background: radial-gradient(#00000072 50%, transparent),
  url(../assets/galeria/prueba3.png);
  background-size: cover;
  background-position: center;
  grid-column-start: -2;
  grid-column-end: -3;
  width: 610px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-grid-border{
  border-radius: 15px;
}

/*Galeria 2*/

.item-5{
  grid-row-start: 2;
  grid-column-start: 2;
  background: url(../assets/galeria/prueba8.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-6{
  background: url(../assets/galeria/prueba5.png);
  background-size: cover;
  background-position: center;
  height: 610px;
  grid-column: 3;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-7{
  background: url(../assets/galeria/prueba9.png);
  background-size: cover;
  background-position: center;
  grid-row-start: 2;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

.item-8{
  grid-row-start: 1;
  background: radial-gradient(#00000072 50%, transparent),
  url(../assets/galeria/prueba7.png);
  background-size: cover;
  background-position: center;
  width: 610px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 10px 2px #0000007b;
}

/*Textos en ITEMS DE GALERIA*/
.item-text-container{
  margin: 20px;
  height: min-content;
}

.item-text-container h4 {
  font-size: 1.5em;
  color: #ffd596;
  margin: 0;
}

.section-galery-sn .waveDividerReverse{
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  bottom: -130px;
  z-index: 0;
}

.section-galery-sn .waveDividerReverse svg{
  display: block;
  width: 100%;
  height: 140px;
}

.waveDivider svg.wave-reverse-white{
  fill: #fff3e1;
  
}

/*seccion Cotactanos*/

.section_contactanos{
  background: url(../assets/contactanos/Icon\ Grid\ \(2\).svg);
  width: 100%;
  min-height: 90vh;
  padding: 200px 0 80px;
}

.section_contactanos .containerInf{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90vw;
}

/*Contenedor CONTACTANOS*/
.container_contactanos{
  width: 60%;
  min-height: 430px;
  display: flex;
  flex-direction: row;
  position: relative;
  border: #f6cb2e solid;
  border-radius: 20px;
  background-color: #000000;
}

.granos_icon{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -100px;
  left: -200px;
  width: 400px;
  height: auto;
  z-index: 10;
}
/*INFORMACION CONTACTO*/
.container_contactanos .informacion_contacto{
  width: 40%;
  border-right: #f6cb2e solid;
  display: flex;
  align-items: flex-start;
  padding-top: 110px;
}

.contenedor_item_contacto{
  margin: 0 20px 20px;
  background-color: #f6cb2e;
  padding: 20px;
  border-radius: 20px;
}

.informacion_contacto .contenedor_item_contacto ul{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.informacion_contacto .contenedor_item_contacto ul li{
  display: flex;
  flex-direction: row;
  gap: 2px;
  color: #000000
}

.informacion_contacto .contenedor_item_contacto ul li img{
width: 30px;
fill: #000000;
}

/*CONTENEDOR FORMULARIO*/

.container_contactanos .formulario{
  width:60%;
  padding: 0 20px;
  text-align: start;
}

.formulario h3{
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: #f6cb2e;
}

.formulario p{
  margin-bottom: 20px;
  color: #bdbdbdb4;
}

/*FORMULARIO*/

.formulario form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario form input,textarea{
  width: 100%;
  border-radius: 10px;
  padding:  20px 10px;
  border: #f6cb2e solid;
  background-color: #ffffff;
}


.formulario form input::placeholder,textarea::placeholder{
  color: #000000;
}

.formulario form .botn_form{
  width: 50%;
  margin: 10px 0px;
  color: #000000;
  font-size: 20px;
  background: #f6cb2e;
}

/*FOOTER*/

footer{
  background-color: #1b1205;
  text-align: center;
  margin-top: -40px;
}

footer .containerInf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_content{
  padding: 50px 
}

.footer_content p{
  margin: 0;
  color: #fff0da;
  font-size: 1rem;
  letter-spacing: 0.5px;
  opacity: 0.95;
}

.footer_content p span{
  color: #f6cb2e;
}





